.card-body-ped{
    display: flex;
 }
 .dado-produto{
     font-weight: 700;
     font-size: 18px;
     text-align: center;
     word-spacing: 18vw;
     column-count: 2;
     column-gap: 40px;
     margin-top: 30px;
 }
 .produto-item{
     margin-top: 20px;
     padding: 0px;
 }
 .product-card__image{
     width: 200px;
     height: 200px;
     margin-right: 10px;
 }